@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//Components
@import "components/container";
@import "components/page-title";
@import "components/todo";












p {
	color: rgb(19, 114, 202);
	margin-bottom: 0rem;
}

#mainP{
	color:purple;	
}

